* {
    margin: 0px;
    padding: 0px;
    font-family: 'karla', sans-serif;
}
html, body {
    height: 100%;
}
.background-photo {
    background-image: url(personalwebsite.png);
    height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
header {
    display: flex;
    justify-content: space-between;
}
header img {
    padding: 10px 150px;
    height: 90px;
}
nav {
    color: white;
}
nav ul{
   display: flex;
   align-items: center;
   margin: 0px 80px 10px 0;
}
nav ul li {
    display: inline-block;
    padding: 30px 0px 30px 15px;
}

nav ul li a {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
    z-index: 99;
}
nav ul li a:hover {
    color: black;
}
#menu {
    display: none;
}
@media (max-width: 778px){  
    header img {
        padding: 10px 40px;
        height: 90px;
    }   
    nav ul{
        margin: 0px 40px 10px 0;
    }
}
@media (max-width: 450px){  
    header img {
        padding: 10px 10px;
        height: 90px;
    }
    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        padding: 20px 10px 8px 8px;
    }
    nav ul li {
        margin: 0;
        padding: 8px;
    }

    
    /*   
    nav ul{
        display: none;
    }
    #menu {
        display: block;
        position: relative;
        right: 25px;
        color: white;
        padding: 45px;
        float: right;
    }
    #menu:hover {
        padding-bottom: 300px;
    }
    #menu:hover ~ nav {
        margin-top: 100px;
        position: relative;
        width: 100%;
        z-index: 9999;
    }
    #menu:hover ~ nav ul {
        display: block;
        width: 100%;
        background: #d9e0ce;
    }
    #menu:hover ~ nav ul li{
        display: block;
        width: 100%;
        text-align: center;
    }  */  

}
/*showcase section*/
.heading-container {
    padding-top: 120px;
}
.fadeIn{
    animation-duration: 5s;
}
.heading-text {
    color: white;
    width: 45%;
    margin: auto;
    font-size: 3.2em;
    text-align: center;
    display: block;
    font-weight: 100;
}
.big {
    font-size: 1.3em;
    font-weight: 700;
}
.title {
    color: white;
    padding: 30px 0;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 3em;
    width: 47%;
    margin: auto;
    height: auto;
}
@media (max-width: 778px) {
    .heading-container {
        padding-top: 65px;
    }
    .heading-text {
        font-size: 2.3em;
        width: 55%;
    }
}
/* principle section */
.principle {
    width: 70%;
    margin: auto;
}
#principle-text {
    width: 30%;
    font-size: 2em;
    padding: 50px;
    display: inline-block;
}
#principle-img {
    height: 250px;
    width: auto;
    display: inline-block;
    position: absolute;
    bottom: -215px;
}
@media (max-width: 858px) {
    .principle {
        width: 85%;
        margin: auto;
    }
    #principle-text {
        width: 40%;
        padding: 20px;
    }
    #principle-img {
        height: 150px;
        width: auto;
        display: inline-block;
        position: absolute;
        bottom: -145px;
    }
}
@media (max-width: 450px) {
    #principle-text {
        margin: auto;
        text-align: center;
        width: 95%;
        margin: auto;
    }
    #principle-img {
        display: none;
        position: static;
    }
}
/* skills section */
.skills{
    background: #ddd;
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    opacity: 1;
}
.container {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.background-color{
    background: url(personalwebsite.png);
    width: 100%;
}
#skills-intro {
    text-align: center;
    font-size: 3em;
    color: white;
    width: 50%;
    margin: auto;
    padding: 90px 0 30px 0;
}
@media (max-width:450px){
    #skills-intro {
        padding: 15px;
    }
}
#skills-text {
    width: 30%;
    font-size: 2em;
    padding: 100px;
    display: inline-block;
    text-align: end;
    color: black;
}
#skills-img {
    height: 80px;
    width: auto;
    display: inline-block;
    padding: 100px 0;

}
@media (max-width:450px){
    .skills-container {
        display: block;
    }
    #skills-text {
        display: block;
        padding:30px;
        text-align: center;
        width: 90%;
    }
    #skills-img {
        display: block;
        padding: 30px;
    }
}
.library{
    background: white;
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}
.library-container {
    width: 70%;
}
#library-text {
    width: 40%;
    font-size: 2em;
    padding: 100px 50px;
    display: inline-block;
    color: black;
}
#library-img {
    height: 140px;
    width: auto;
    display: inline-block;
    padding: 80px 150px 80px 0;

}
@media (max-width:450px){
    .library-container {
        display: block;
    }
    #library-text {
        display: block;
        padding:30px;
        text-align: center;
        width: 90%;
    }
    #library-img {
        display: block;
        padding: 30px;
        width: 50%;
        margin: auto;
    }
}
/* graphic skills section */
.graphics{
    background: #ddd;
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}
.graphics-container {
    width: 60%;
}
#graphics-text {
    width: 40%;
    font-size: 2em;
    padding: 100px 75px 100px 0;
    display: inline-block;
    color: black;
    text-align: end;
}
#graphics-img {
    height: 140px;
    max-width: auto;
    display: inline-block;
    padding: 100px 0px 80px 0;

}
@media (max-width:450px){
    .graphics-container {
        display: block;
    }
    #graphics-text {
        display: block;
        padding:30px;
        text-align: center;
        width: 90%;
    }
    #graphics-img {
        display: block;
        padding: 30px;
        width: 200px;
        height: auto;
        margin: auto;
    }
}
/* portfolio section*/
.small {
    height: auto;
}
#portfolio-intro {
    padding: 40px;
    text-align: center;
    font-size: 3em;
    color: white;
    width: 50%;
    margin: auto;
}
.portfolio {
    background: #d9e0ce;
    background: -moz-linear-gradient(left, #d9e0ce 0%, #dfe5d7 19%, #fcfff4 100%);
    background: -webkit-linear-gradient(left, #d9e0ce 0%,#dfe5d7 19%,#fcfff4 100%);
    background: linear-gradient(to right, #d9e0ce 0%,#dfe5d7 19%,#fcfff4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e0ce', endColorstr='#fcfff4',GradientType=1 );
    padding: 20px;
}
@media (max-width: 720px){
  .portfolio {
      padding: 0px;
  }
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    height: 400px;
    width: 300px;
    background-color: white;
    overflow: hidden;
    margin: 20px;
}
.photo{
    height: 300px;
    width: 300px;
    background-size: cover;
    border-bottom: 1px solid #ddd; 
}
.card-text h5 {
    font-weight: 150;
    font-size: 1.5em;
    padding: 15px 0 7px 15px;
}
.card-text p {
    font-size: 1.2em;
    padding: 0px 15px;
}
.photo1{
    background-image: url(burma.jpg);
}
.photo2{
    background-image: url(hhlogo.jpg);
}
.photo3{
    background-image: url(violin.jpg);
}
.photo4{
    background-image: url(kruk-insta-2.jpg);
}
.photo5 {
    background-image: url(tshirt.jpg);
}
.photo6 {
    background-image: url(viewfile.jpg);
    width: 300px;
}
/* footer */
footer {
    background: #138eb7;
}
.footer-container {
    display: flex;
    justify-content: center;
}
footer a {
    padding: 25px 50px;
    color: white;
}
footer a:hover {
    color: gray;
}
footer p {
    font-size: 1.5em;
    text-align: center;
    padding: 50px;
    color: white;
}