* {
  margin: 0;
  padding: 0;
  font-family: arial;
}
.container {
  margin: 0 auto;
  width: 80%;
}
.container img {
  padding-left: 50px;
}
.nav1 {
    background-color: white;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav {
  list-style: none;
  padding: 17px 0;
    float: right;
}
.nav > li {

 display: inline-block;
 padding-right: 30px;

}

.nav > li > a {
 color: #202020;
 text-decoration: none;
 text-transform: uppercase;
}
.nav > li > a:hover {
 text-decoration: none;
 color: #808080;
}
.welcome{
  position: relative;
  height: 450px;
  width: 100%;
  background-image: url("man-using-macbook-air_4460x4460.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }
.welcome h1 {
  position: absolute;
  top: 45%;
  left: 25%;
  width: 50%;
  margin: auto;
  text-align: center;
}
.p {
  width: 60%;
  padding: 50px;
  margin: auto;
  text-align: center;
  height: 200px;
}
.p h3 {
  line-height: 3;
  text-transform: uppercase;
}
.p p {
  font-size: 140%;
}
/*.p1 {
  width: 40%;
  padding: 50px;
  text-transform: uppercase;
}
.p1 > h3 > a {
  text-decoration: none;
  color: #202020;
  line-height: 3;
}
.p1 > h3 > a:hover:after {
  content: "";
  clear:
}
.p1 > h3 > a:hover {
  color: #808080;
  line-height: 3;
}*/
footer {
  width: 100%;
  height: 220px;
  background-color: #333333;
  overflow: hidden;
}
.footerleft {
  float: left;
  width: 29%;
  padding: 40px;
}
.footercenter{
  width: 19%;
  display: inline-block;
  color: white;
  padding: 60px;
}
.footerright {
  float: right;
  width: 19%;
  padding: 60px;
  color: white;
}
.footerright input{
  margin: 5px 0;
}
.footerright p {
  text-transform: uppercase;
  line-height: 1.5;
}
.footer::after {
  content: "";
  display: block;
  clear: both;
}

.fnav {
  list-style: none;
  padding: 17px 0;
  margin: auto;
  width: 50%;
}
.fnav > li {
  padding: 7px 0;
}
.fnav > li > a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.fnav > li > a:hover {
  text-decoration: none;
  color: darkgrey;
}
.graphics {
  height: 500px;
}
.websites {
  height: 500px;
}
.containerp {
  text-align: center;
  width: 80%;
  margin: auto;
}
.a, .b, .c  {
  display: inline-block;
  width: 23%;
  height: 350px;
  border: 2px;
  background-color: grey;
  margin: auto;
  margin: 3%;
}
